html, body {
    height: 100%;
    margin:0;
    padding:0;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

div {
    position:relative;
    height: 100%;
    width:100%;
              overflow: hidden !important;

}

div img {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
width: 100%;
      height: 100%;
      overflow: hidden !important;
    margin:auto;

}